# This file is for unifying the coding style for different editors and IDEs.
# More information at http://EditorConfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
# The width that will fit on the slides...
max_line_length = 68
trim_trailing_whitespace = true

[*.html]
max_line_length = 2000

[Makefile]
indent_style = tab
indent_size = 8

[*.diff]
trim_trailing_whitespace = false

[.git/*]
trim_trailing_whitespace = false
